@import "../../style/variable";

.app-header {

  .header-ban {
    .logo {
      height: 30px;
      width: 30px;
    }

    span {
      color: @primary-color;
      font-weight: bold;
      margin-left: 5px;
      font-family: Lato;
      font-size: 16px;
      vertical-align: middle;
    }
  }

  box-shadow: 0 2px 1px #f8f8f8;
  width: 100%;
  padding: 0 30px;
}
