@import "../../style/variable";

.app-header {

  .header-ban {
    .logo {
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }

    span {
      color: @primary-color;
      font-weight: bold;
      margin-left: 5px;
      font-family: Lato;
      font-size: 16px;
    }
  }

  box-shadow: 0 3px 2px #f8f8f8;
  width: 100%;
  padding: 0 12px;
}
