{
  "presets": [["env", { "modules": false }], "flow", "react"],
  "plugins": [
    ["import", {
      "libraryName": "antd"
    }],
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "syntax-class-properties",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
