
.flow-unit {
  color: #fff;
  border-radius: 5px;
  background-color: #d8d8d8;
  margin: 0 4px;
  height: 50px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .flow-unit--name {
    margin-top: -2px;
  }

  &.running {
    animation-name: running;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }

  &.success {
    background-color: #86d74f;
  }

  &.failure {
    background-color: #e5262a;
  }
}
